parameters:
    level: 5
    paths:
        - app/Http/Middleware
        - app/Http/Controllers
        - app/Services
        - app/Models
        - app/Mail
        - app/Console
        - app/Listeners
        - app/Rules
        - app/Http/Requests
        - app/Exceptions
